/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "assets/css/wizard.css";

body {
  padding-top: 80px;
  padding-bottom: 10px;
  font-family: sans-serif
}

.clickable {
  cursor: pointer;
}

.help-block {
  font-size: 12px;
}

.dropdown-toggle {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.flag-container .dropdown-toggle::after {
  display: none
}

.flagInput .dropdown-content {
  margin-bottom: 20px;
}

.flagInput {
  position: absolute;
  z-index: 100;
  top: 1px;
  left: 2px;
}

.flagInput .dropbtn {
  height: 35px;
}

.flagInput+input {
  padding-left: 50px;
  z-index: 0;
}

/* flag selector arrow */
.flagInput .dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
