<h1>{{'common.payments' | translate}}</h1>
<i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
<table *ngIf="payments" class="table">
  <thead>
    <tr>
      <th>{{'common.amount' | translate}}</th>
      <th>{{'common.date' | translate}}</th>
      <th>{{'common.account_#' | translate}}</th>
      <th>{{'common.address' | translate}}</th>
      <th>{{'common.payment_method' | translate}}</th>
      <th>{{'common.unique_id' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of payments">
      <td>{{ payment.amountFormatted }}</td>
      <td>{{ payment.createdAt | date:'MMM d, y HH:mm' }}</td>
      <td>{{ payment.account.accountNumber }}</td>
      <td>{{ formatAddress(payment.account.address) }}</td>
      <td>{{ formatPaymentMethod(payment.paymentMethodType, payment.paymentMethod) }}</td>
      <td>{{ payment.paymentMethod.uniqueId }}</td>
    </tr>
  </tbody>
</table>
