<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <img src="assets/images/SMS-512.png" class="img-fluid mx-auto d-block mb-4" style="width:200px; height:200px">
    <h1 class="text-center mb-4">Verify your mobile number</h1>
    <ng-container *ngIf="!verificationSent; else verificationCodeSection">
      <form class="form-inline" #f="ngForm">
        <div class="form-group">
          <label for="phoneNumber">Enter your phone number</label>
          <input type="text" class="form-control mx-sm-3" [(ngModel)]="phoneNumber" name="phoneNumber" #phoneNumberInput="ngModel"
            autocomplete="off" required>
          <button *ngIf="!isLoading; else loading" class="btn btn-primary" [disabled]="f.invalid" (click)="sendVerificationCode()">Send</button>
          <ng-template #loading>
            <i class="fa fa-spinner fa-spin fa-2x align-middle"></i>
          </ng-template>
        </div>
      </form>
    </ng-container>
    <ng-template #verificationCodeSection>
      <h4>A verification code has been sent to your phone</h4>
      <form class="form-inline" #f="ngForm">
        <div class="form-group">
          <label for="phoneNumber">Enter verification code</label>
          <input type="text" class="form-control mx-sm-3" [(ngModel)]="verificationCode" name="verificationCode" #verificationCodeInput="ngModel"
            autocomplete="off" required>
          <button *ngIf="!isLoading; else loading" class="btn btn-primary" [disabled]="f.invalid" (click)="verify()">Send</button>
          <ng-template #loading>
            <i class="fa fa-spinner fa-spin fa-2x align-middle"></i>
          </ng-template>
        </div>
      </form>
    </ng-template>
  </div>
</div>
