<!-- {{ account | json }} -->
<div class="row">
  <div *ngIf="account" class="invoice-container col-md-10 offset-md-1">
    <main>
      <div id="details" class="clearfix">
        <div id="client">
          <div class="to"></div>
          <h2 class="name">Account # {{ account.accountNumber }}</h2>
          <div class="address">{{displayPrimaryAddress(account.address)}}</div>
          <div class="email">{{displaySecondaryAddress(account.address)}}</div>
        </div>
        <!-- <div id="invoice">
          <h1>INVOICE 3-2-1</h1>
          <div class="date">Date of Invoice: 01/06/2014</div>
          <div class="date">Due Date: 30/06/2014</div>
        </div> -->
      </div>
      <table border="0" cellspacing="0" cellpadding="0" class="">
        <thead>
          <tr>
            <th class="no">#</th>
            <th class="desc">BILL NUMBER</th>
            <th class="unit">PERIOD</th>
            <th class="qty">CATEGORY</th>
            <th class="qty">PAY UNTIL</th>
            <th class="total">AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let municipalityAccount of account.municipalityAccounts; index as i">
            <tr *ngFor="let bill of municipalityAccount.bills; index as j">
              <td class="no" [ngClass]="municipalityAccount.category.replace(' ', '-').toLowerCase()">{{bill.index}}</td>
              <td class="desc"><h3># {{bill.billAccountNumber}}</h3></td>
              <td class="unit">{{bill.periodStartDate}} - {{bill.periodEndDate}}</td>
              <td class="category" [ngClass]="municipalityAccount.category.replace(' ', '-').toLowerCase()">{{municipalityAccount.category}}</td>
              <td class="unit">{{bill.dueDate}}</td>
              <td class="total" [ngClass]="municipalityAccount.category.replace(' ', '-').toLowerCase()">{{bill.amountDueFormatted}}</td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr class="balance">
            <td colspan="4"></td>
            <td colspan="1">REMAINING BALANCE</td>
            <td>{{account.amountDueFormatted}}</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td colspan="1">
              <button class="btn btn-primary btn-block" [routerLink]="['pay']">Pay Now</button>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge may be applied on unpaid balances after due date.</div>
      </div>
    </main>
  </div>
</div>
