<h1>Payments</h1>
<i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
<table *ngIf="payments" class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Account #</th>
      <th>Address</th>
      <th>Payment Method</th>
      <th>Unique ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of payments">
      <td>{{ payment.amountFormatted }}</td>
      <td>{{ payment.createdAt | date:mediumDate }}</td>
      <td>{{ payment.account.accountNumber }}</td>
      <td>{{ formatAddress(payment.account.address) }}</td>
      <td>{{ formatPaymentMethod(payment.paymentMethodType, payment.paymentMethod) }}</td>
      <td>{{ payment.paymentMethod.uniqueId }}</td>
    </tr>
  </tbody>
</table>
