<div class="col-md-6 offset-md-3">
  <h2>Login</h2>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !email.valid }"
             name="email" [(ngModel)]="model.email" #email="ngModel" required />
      <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">Email is required</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !password.valid }"
             name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>
      <i *ngIf="loading" class="fa fa-spinner fa-spin fa-2x align-middle"></i>
    </div>
  </form>
</div>
