<i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
<div class="row">
  <div *ngIf="account" class="invoice-container col-md-10 offset-md-1">
    <main>
      <div id="details" class="clearfix">
        <div class="float-left pl-2 border-left section-border">
          <div class="to"></div>
          <h4 class="address">{{displayPrimaryAddress(account.address)}}</h4>
          <h6 class="email">{{displaySecondaryAddress(account.address)}}</h6>
          <h6 class="name">{{'common.account_#' | translate}} {{ account.accountNumber }}</h6>
        </div>
      </div>
      <table border="0" cellspacing="0" cellpadding="0" class="">
        <thead>
          <tr>
            <th class="no">#</th>
            <th class="desc">{{'common.bill_number' | translate | uppercase}}</th>
            <th class="unit">{{'common.period' | translate | uppercase}}</th>
            <th class="qty">{{'common.category' | translate | uppercase}}</th>
            <th class="qty">{{'common.pay_until' | translate | uppercase}}</th>
            <th class="total">{{'common.amount' | translate | uppercase}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let municipalityAccount of account.municipalityAccounts; index as i">
            <tr *ngFor="let bill of municipalityAccount.bills; index as j">
              <td class="no" [ngClass]="municipalityAccount.category.replace(' ', '-').toLowerCase()">{{bill.index}}</td>
              <td class="desc"><h3># {{bill.billAccountNumber}}</h3></td>
              <td class="unit">{{bill.periodStartDate}} - {{bill.periodEndDate}}</td>
              <td class="category" [ngClass]="municipalityAccount.category.replace(' ', '-').toLowerCase()">{{municipalityAccount.category}}</td>
              <td class="unit">{{bill.dueDate}}</td>
              <td class="total" [ngClass]="municipalityAccount.category.replace(' ', '-').toLowerCase()">{{bill.amountDueFormatted}}</td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr class="balance">
            <td colspan="4"></td>
            <td colspan="1">{{'remaining_balance' | translate | uppercase}}</td>
            <td>{{account.amountDueFormatted}}</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td colspan="1">
              <button class="btn btn-primary btn-block" [routerLink]="['pay']">{{'account.pay_now' | translate}}</button>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <button *ngIf="account.paymentsCount > 0" class="btn btn-primary mb-3" [routerLink]="['payments']">{{'account.payments_history' | translate}}</button>
      <div class="pl-2 border-left section-border section-border">
        <div>{{'common.notice' | translate | uppercase}}:</div>
        <div class="notice">{{'account.finance_charge_may_be_applied_on_unpaid_balances' | translate}}</div>
      </div>
    </main>
  </div>
</div>
